# Group Uranus - Phase 2 Project
![King County Skyline](./images/skyline.jpeg)
### Contributors: Jalen Charles, Brad Blackwood, and Ashley Eakland
### Project Proposal:

### Building Condition [King County Assessor Website](https://info.kingcounty.gov/assessor/esales/Glossary.aspx?type=r)

Relative to age and grade. Coded 1-5.

1 = Poor- Worn out. Repair and overhaul needed on painted surfaces, roofing, plumbing, heating and numerous functional inadequacies. Excessive deferred maintenance and abuse, limited value-in-use, approaching abandonment or major reconstruction; reuse or change in occupancy is imminent. Effective age is near the end of the scale regardless of the actual chronological age.

2 = Fair- Badly worn. Much repair needed. Many items need refinishing or overhauling, deferred maintenance obvious, inadequate building utility and systems all shortening the life expectancy and increasing the effective age.

3 = Average- Some evidence of deferred maintenance and normal obsolescence with age in that a few minor repairs are needed, along with some refinishing. All major components still functional and contributing toward an extended life expectancy. Effective age and utility is standard for like properties of its class and usage.

4 = Good- No obvious maintenance required but neither is everything new. Appearance and utility are above the standard and the overall effective age will be lower than the typical property.

5= Very Good- All items well maintained, many having been overhauled and repaired as they have shown signs of wear, increasing the life expectancy and lowering the effective age with little deterioration or obsolescence evident with a high degree of utility.

### Building Grade [King County Assessor Website](https://info.kingcounty.gov/assessor/esales/Glossary.aspx?type=r)
Represents the construction quality of improvements. Grades run from grade 1 to 13. Generally defined as:

1-3 Falls short of minimum building standards. Normally cabin or inferior structure.

4 Generally older, low quality construction. Does not meet code.

5 Low construction costs and workmanship. Small, simple design.

6 Lowest grade currently meeting building code. Low quality materials and simple designs.

7 Average grade of construction and design. Commonly seen in plats and older sub-divisions.

8 Just above average in construction and design. Usually better materials in both the exterior and interior finish work.

9 Better architectural design with extra interior and exterior design and quality.

10 Homes of this quality generally have high quality features. Finish work is better and more design quality is seen in the floor plans. Generally have a larger square footage.

11 Custom design and higher quality finish work with added amenities of solid woods, bathroom fixtures and more luxurious options.

12 Custom design and excellent builders. All materials are of the highest quality and all conveniences are present.

13 Generally custom designed and built. Mansion level. Large amount of highest quality cabinet work, wood trim, marble, entry ways etc.

In [48]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer
from sklearn.impute import MissingIndicator

In [49]:
df = pd.read_csv('data/kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

In [51]:
df.isna().sum()

id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

In [52]:
df['date'] = pd.to_datetime(df['date'])

In [53]:
df.loc[df['sqft_basement'] == '?'] = 0

In [54]:
df.sqft_basement = pd.to_numeric(df.sqft_basement)

In [55]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.159700e+04,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,21597.000000,21597.000000,21597.000000,17843.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000
mean,4.484705e+09,5.291484e+05,3.301662,2.071596,2037.176784,1.476998e+04,1.462194,1751.460203,285.716581,1929.589480,80.880289,96016.131037,46.560489,-119.644765,1945.496087,12471.151086
std,2.920828e+09,3.723490e+05,1.035168,0.818766,956.614171,4.083115e+04,0.574968,858.900006,439.819830,284.245524,393.596386,14070.254599,6.824328,17.533235,735.892458,26944.222849
min,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-122.519000,0.000000,0.000000
25%,1.972201e+09,3.150000e+05,3.000000,1.500000,1396.000000,5.000000e+03,1.000000,1170.000000,0.000000,1950.000000,0.000000,98031.000000,47.457500,-122.326000,1460.000000,5000.000000
50%,3.864000e+09,4.450000e+05,3.000000,2.250000,1890.000000,7.532000e+03,1.000000,1540.000000,0.000000,1973.000000,0.000000,98059.000000,47.568600,-122.224000,1820.000000,7560.000000
75%,7.278101e+09,6.380000e+05,4.000000,2.500000,2530.000000,1.053000e+04,2.000000,2190.000000,550.000000,1996.000000,0.000000,98117.000000,47.676500,-122.117000,2350.000000,10009.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,0.000000,6210.000000,871200.000000

In [56]:
df.waterfront.value_counts()

NO     18662
0        454
YES      142
Name: waterfront, dtype: int64

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19258 non-null  object
 9   view           21536 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  float64
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17843 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(7), int64(9), object(5)
memory usage: 3.5+ MB

In [58]:
df.drop(columns=['lat', 'long', 'sqft_living15', 'sqft_lot15'], inplace=True)
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode
0,7129300520,2014-10-13 00:00:00,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,Average,7 Average,1180,0.0,1955,0.0,98178
1,6414100192,2014-12-09 00:00:00,538000.0,3,2.25,2570,7242,2.0,NO,NONE,Average,7 Average,2170,400.0,1951,1991.0,98125
2,5631500400,2015-02-25 00:00:00,180000.0,2,1.00,770,10000,1.0,NO,NONE,Average,6 Low Average,770,0.0,1933,NaN,98028
3,2487200875,2014-12-09 00:00:00,604000.0,4,3.00,1960,5000,1.0,NO,NONE,Very Good,7 Average,1050,910.0,1965,0.0,98136
4,1954400510,2015-02-18 00:00:00,510000.0,3,2.00,1680,8080,1.0,NO,NONE,Average,8 Good,1680,0.0,1987,0.0,98074

In [60]:
renovated_df = df.copy()
renovated_df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode
0,7129300520,2014-10-13 00:00:00,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,Average,7 Average,1180,0.0,1955,0.0,98178
1,6414100192,2014-12-09 00:00:00,538000.0,3,2.25,2570,7242,2.0,NO,NONE,Average,7 Average,2170,400.0,1951,1991.0,98125
2,5631500400,2015-02-25 00:00:00,180000.0,2,1.00,770,10000,1.0,NO,NONE,Average,6 Low Average,770,0.0,1933,NaN,98028
3,2487200875,2014-12-09 00:00:00,604000.0,4,3.00,1960,5000,1.0,NO,NONE,Very Good,7 Average,1050,910.0,1965,0.0,98136
4,1954400510,2015-02-18 00:00:00,510000.0,3,2.00,1680,8080,1.0,NO,NONE,Average,8 Good,1680,0.0,1987,0.0,98074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,2014-05-21 00:00:00,360000.0,3,2.50,1530,1131,3.0,NO,NONE,Average,8 Good,1530,0.0,2009,0.0,98103
21593,6600060120,2015-02-23 00:00:00,400000.0,4,2.50,2310,5813,2.0,NO,NONE,Average,8 Good,2310,0.0,2014,0.0,98146
21594,1523300141,2014-06-23 00:00:00,402101.0,2,0.75,1020,1350,2.0,NO,NONE,Average,7 Average,1020,0.0,2009,0.0,98144
21595,291310100,2015-01-16 00:00:00,400000.0,3,2.50,1600,2388,2.0,NaN,NONE,Average,8 Good,1600,0.0,2004,0.0,98027
21596,1523300157,2014-10-15 00:00:00,325000.0,2,0.75,1020,1076,2.0,NO,NONE,Average,7 Average,1020,0.0,2008,0.0,98144

In [61]:
renovated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19258 non-null  object
 9   view           21536 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  float64
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17843 non-null  float64
 16  zipcode        21597 non-null  int64
dtypes: float64(5), int64(7), object(5)
memory usage: 2.8+ MB

In [62]:
import seaborn as sns
renovated_df.corr()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode
id,1.000000,0.031803,0.107305,0.088961,0.059365,-0.116768,0.101282,0.057410,0.017008,0.226035,-0.002081,0.224957
price,0.031803,1.000000,0.364692,0.554910,0.717612,0.096927,0.310280,0.627061,0.336263,0.212598,0.132349,0.208051
bedrooms,0.107305,0.364692,1.000000,0.595176,0.631318,0.053257,0.321060,0.543956,0.310865,0.479114,0.033114,0.466876
bathrooms,0.088961,0.554910,0.595176,1.000000,0.782120,0.101159,0.572592,0.719194,0.296647,0.417023,0.060707,0.370049
sqft_living,0.059365,0.717612,0.631318,0.782120,1.000000,0.180615,0.428997,0.888093,0.440705,0.341414,0.062324,0.311352
sqft_lot,-0.116768,0.096927,0.053257,0.101159,0.180615,1.000000,0.012784,0.190673,0.020487,0.058110,0.005395,0.052522
floors,0.101282,0.310280,0.321060,0.572592,0.428997,0.012784,1.000000,0.575596,-0.190976,0.417095,0.016432,0.372454
sqft_above,0.057410,0.627061,0.543956,0.719194,0.888093,0.190673,0.575596,1.000000,-0.021230,0.338675,0.030483,0.297883
sqft_basement,0.017008,0.336263,0.310865,0.296647,0.440705,0.020487,-0.190976,-0.021230,1.000000,0.081201,0.076623,0.095477
yr_built,0.226035,0.212598,0.479114,0.417023,0.341414,0.058110,0.417095,0.338675,0.081201,1.000000,0.012410,0.994637
yr_renovated,-0.002081,0.132349,0.033114,0.060707,0.062324,0.005395,0.016432,0.030483,0.076623,0.012410,1.000000,0.033440
zipcode,0.224957,0.208051,0.466876,0.370049,0.311352,0.052522,0.372454,0.297883,0.095477,0.994637,0.033440,1.000000

In [63]:
renovated_df['age_at_reno'] = renovated_df['yr_renovated'] - renovated_df['yr_built']
renovated_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,age_at_reno
0,7129300520,2014-10-13 00:00:00,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,Average,7 Average,1180,0.0,1955,0.0,98178,-1955.0
1,6414100192,2014-12-09 00:00:00,538000.0,3,2.25,2570,7242,2.0,NO,NONE,Average,7 Average,2170,400.0,1951,1991.0,98125,40.0
2,5631500400,2015-02-25 00:00:00,180000.0,2,1.00,770,10000,1.0,NO,NONE,Average,6 Low Average,770,0.0,1933,NaN,98028,NaN
3,2487200875,2014-12-09 00:00:00,604000.0,4,3.00,1960,5000,1.0,NO,NONE,Very Good,7 Average,1050,910.0,1965,0.0,98136,-1965.0
4,1954400510,2015-02-18 00:00:00,510000.0,3,2.00,1680,8080,1.0,NO,NONE,Average,8 Good,1680,0.0,1987,0.0,98074,-1987.0

In [64]:
renovated_df['age_at_reno'][renovated_df['age_at_reno'] < 0] = 0
renovated_df.head()

<ipython-input-64-3c93d93c3dfb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  renovated_df['age_at_reno'][renovated_df['age_at_reno'] < 0] = 0

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,age_at_reno
0,7129300520,2014-10-13 00:00:00,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,Average,7 Average,1180,0.0,1955,0.0,98178,0.0
1,6414100192,2014-12-09 00:00:00,538000.0,3,2.25,2570,7242,2.0,NO,NONE,Average,7 Average,2170,400.0,1951,1991.0,98125,40.0
2,5631500400,2015-02-25 00:00:00,180000.0,2,1.00,770,10000,1.0,NO,NONE,Average,6 Low Average,770,0.0,1933,NaN,98028,NaN
3,2487200875,2014-12-09 00:00:00,604000.0,4,3.00,1960,5000,1.0,NO,NONE,Very Good,7 Average,1050,910.0,1965,0.0,98136,0.0
4,1954400510,2015-02-18 00:00:00,510000.0,3,2.00,1680,8080,1.0,NO,NONE,Average,8 Good,1680,0.0,1987,0.0,98074,0.0

In [70]:
renovated_df['yr_renovated'].value_counts()

0.0       17120
2014.0       69
2003.0       31
2013.0       31
2007.0       30
          ...
1953.0        1
1944.0        1
1934.0        1
1971.0        1
1959.0        1
Name: yr_renovated, Length: 69, dtype: int64

In [74]:
cols = ['yr_renovated']
renovated_df[cols] = renovated_df[renovated_df[cols] > 0][cols]
renovated_df.dropna(subset=['yr_renovated'], inplace=True)
renovated_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,age_at_reno
1,6414100192,2014-12-09 00:00:00,538000.0,3,2.25,2570,7242,2.0,NO,NONE,Average,7 Average,2170,400.0,1951,1991.0,98125,40.0
35,9547205180,2014-06-13 00:00:00,696000.0,3,2.50,2300,3060,1.5,NO,NONE,Average,8 Good,1510,790.0,1930,2002.0,98115,72.0
95,1483300570,2014-09-08 00:00:00,905000.0,4,2.50,3300,10250,1.0,NO,NONE,Average,7 Average,2390,910.0,1946,1991.0,98040,45.0
103,2450000295,2014-10-07 00:00:00,1090000.0,3,2.50,2920,8113,2.0,NO,NONE,Average,8 Good,2920,0.0,1950,2010.0,98004,60.0
125,4389200955,2015-03-02 00:00:00,1450000.0,4,2.75,2750,17789,1.5,NO,NONE,Average,8 Good,1980,770.0,1914,1992.0,98004,78.0

In [75]:
renovated_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 723 entries, 1 to 20946
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             723 non-null    int64
 1   date           723 non-null    object
 2   price          723 non-null    float64
 3   bedrooms       723 non-null    int64
 4   bathrooms      723 non-null    float64
 5   sqft_living    723 non-null    int64
 6   sqft_lot       723 non-null    int64
 7   floors         723 non-null    float64
 8   waterfront     633 non-null    object
 9   view           722 non-null    object
 10  condition      723 non-null    object
 11  grade          723 non-null    object
 12  sqft_above     723 non-null    int64
 13  sqft_basement  723 non-null    float64
 14  yr_built       723 non-null    int64
 15  yr_renovated   723 non-null    float64
 16  zipcode        723 non-null    int64
 17  age_at_reno    723 non-null    float64
dtypes: float64(6), int64(7), object(5)
memory usage: 107.3+ KB

In [76]:
renovated_df.corr()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,age_at_reno
id,1.000000,0.035902,0.034189,-0.041058,-0.005695,-0.168442,-0.016502,-0.014515,0.011150,-0.074985,0.002381,0.032917,0.071964
price,0.035902,1.000000,0.323130,0.593098,0.801133,0.001844,0.269544,0.687607,0.515477,0.072480,0.124437,-0.097532,0.013178
bedrooms,0.034189,0.323130,1.000000,0.591431,0.546273,-0.006259,0.307441,0.471988,0.346682,0.110794,0.156120,-0.030970,-0.002115
bathrooms,-0.041058,0.593098,0.591431,1.000000,0.760428,0.042600,0.449964,0.673239,0.457634,0.147577,0.258166,0.002976,0.029965
sqft_living,-0.005695,0.801133,0.546273,0.760428,1.000000,0.109642,0.389874,0.864510,0.633869,0.162279,0.136153,-0.056078,-0.063493
sqft_lot,-0.168442,0.001844,-0.006259,0.042600,0.109642,1.000000,-0.047883,0.141079,-0.001737,0.099601,-0.073452,-0.206102,-0.141475
floors,-0.016502,0.269544,0.307441,0.449964,0.389874,-0.047883,1.000000,0.555312,-0.088739,-0.069882,0.062649,0.157127,0.106517
sqft_above,-0.014515,0.687607,0.471988,0.673239,0.864510,0.141079,0.555312,1.000000,0.159243,0.206321,0.055113,-0.090386,-0.157753
sqft_basement,0.011150,0.515477,0.346682,0.457634,0.633869,-0.001737,-0.088739,0.159243,1.000000,0.001257,0.182623,0.028940,0.118041
yr_built,-0.074985,0.072480,0.110794,0.147577,0.162279,0.099601,-0.069882,0.206321,0.001257,1.000000,0.251125,-0.227413,-0.775044
yr_renovated,0.002381,0.124437,0.156120,0.258166,0.136153,-0.073452,0.062649,0.055113,0.182623,0.251125,1.000000,0.006158,0.417026
zipcode,0.032917,-0.097532,-0.030970,0.002976,-0.056078,-0.206102,0.157127,-0.090386,0.028940,-0.227413,0.006158,1.000000,0.217557
age_at_reno,0.071964,0.013178,-0.002115,0.029965,-0.063493,-0.141475,0.106517,-0.157753,0.118041,-0.775044,0.417026,0.217557,1.000000